<section>
  <h1>About Me</h1>
  <p>Telecomms, Openstreetmap, code.</p>

  <h2>My Sites</h2>
  <ul>
      <li><a href="http://www.bullfarmoast.co.uk/">Bull Farm Oast Bed and Breakfast</a> my parents B and B, website is written by me using Ruby on Rails</li>
      <li><a href="http://www.bedlamites.co.uk/">Bedlamites</a> Bedlamites website, php using symfony.</li>
      <li><a href="http://coherentbits.co.uk/">Coherent Bits Ltd</a> My consulting business. </li>
      <li><a href="http://www.flickr.com/photos/chrisfleming/">My flickr</a></li>
  </ul>
  <h2>Friends</h2>
  <ul>
      <li><a href="http://www.notlikecalvin.com/">Neil's site</a> - hosted by coherentbits.</li>
  </ul>
</section>
